body {
    margin: 0;
    font-family: Arial;
    background-color: rgb(213, 213, 212);
}

/* HEADER */
header nav{
    background-color: #2e3d2f;
    color: rgb(240, 240, 2340);
    display: flex;
    justify-content:space-between ;
    align-items:center;
    padding:0px;
    overflow: hidden;

}

header nav div{
    display: flex;
    margin-left: 10px;
}
.logo{
    gap: 10px;  
    width: 12%;
    height: 10%;
    margin: 10px;

}


.nav-links {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  
  
}

li a{
    text-decoration: none;
    color: rgb(240, 240, 2340);
    font-size:larger;
    padding: 30px;


    
}

li a:hover{
    background-color: #162a17;
    color:white

}
    


/* HERO */
.hero {
    height: 50vh;
    margin: 0;  
    display:flex ;

    text-align: center;
    justify-content: center;
}


.imgpark{
    width: 100%;      
  height: 50vh;     
    position: absolute;
    filter:brightness(70%)

}
.division {
    color: rgba(255, 255, 255, 0.829);
    justify-content: center;
    align-items: center;
    position:relative;  
    font-size:xx-large;
    filter: brightness(90%);
    padding-top: 100px;
}



/* CONTENEDOR */
.contenedor {
    padding: 10px;
}

/* FILAS */
.fila {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

/* INFO */
.info {
    flex: 0.5;
    display: flex;
    align-items:center;
    flex-direction: column;
    
    
}

.separador{
    padding-top: 20%;
}
.info h3{
    font-size:xx-large;
    color:#2e3d2f;
    background-color: #89a58b;
    text-align: center;
    border-radius: 10px;
    width: 100%;
}
.info p{
    font-size: larger;
}

.mapa {
     display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: larger;
    color:#2e3d2f;
    background-color: #89a58b;
    border-radius: 10px;
    width: 100%;

}


.horario-titulo-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: larger;
    color:#2e3d2f;
    background-color: #89a58b;
    border-radius: 10px;
    width: 100%;
    
    
}


.calendario{
    height: 20px;
    display: flex;
    flex-direction: column;
}
.horario p{
    display: flex;
    justify-content: flex-start;
    color:#2e3d2f
}
.mapa h4{
    padding: 0px;
}

.ubicacion{
    height: 20px;
    display: flex;
    flex-direction: column;
    
    
}



iframe{
    
    border-radius: 10px;
    margin-top: 100px;
    
}

/* GALERÍA */
.galeria {
    flex: 0.6;
}

.galeria img {
    width: 100%;
    border-radius: 10px;
}

.mini {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.mini img {
    width: 50%;
}
    


/* NORMAS */
.normas {
    background: #e8f5e9;
    text-align: center;
    padding: 10px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
}

.card {
    flex: 1 1 200px;
    background: #436645;
    padding: 20px;
    border-radius: 20px;
    color: white;
}

/* FOOTER */
footer {
    background-color: #2e3d2f;
    color: white;
    padding: 10px;
    display: flex;
    justify-content:space-between;
}

.redesposition{
    display: flex;
    margin-left: 5%;
    gap: 30px;
}
.redes{
    width: 40px;
    height: 40px;
}