body {
    margin: 0;
    font-family: Arial;
}

/* HEADER */
header nav{
    background-color: #2e3d2f;
    color: rgb(240, 240, 2340);
    display: flex;
    justify-content:space-between ;
    align-items:center;
    padding:0px;
    overflow: hidden;

}

header nav div{
    display: flex;
    margin-left: 10px;
}
.logo{
    gap: 10px;  
    width: 12%;
    height: 10%;
    margin: 10px;

}


.nav-links {
  display: flex;
  list-style-type: none;
                   /* Espacio entre Inicio, Explora y Normas */
  margin: 0;
  padding: 0;
  
  
}

li a{
    text-decoration: none;
    color: rgb(240, 240, 2340);
    font-size:larger;
    padding: 30px;


    
}

li a:hover{
    background-color: #162a17;
    color:white

}
    


/* HERO */
.hero {
    height: 50vh;
    margin: 0;  
    display:flex ;

    text-align: center;
    justify-content: center;
}


.imgpark{
    width: 100%;      /* 100% del ancho de la ventana */
  height: 50vh;     /* 100% del alto de la ventana */
  /* Evita que la imagen se estire o se vea flaca */
    position: absolute;
    filter:brightness(70%)

}
.overlay {
    color: white;
    justify-content: center;
    align-items: center;
    position:relative;  
    font-size: larger;
    filter: brightness(90%);
    padding-top: 100px;
}

/* CONTENEDOR */
.contenedor {
    padding: 0px;
}

/* FILAS */
.fila {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

/* INFO */
.info {
    flex: 1;
}

.mapa {
    background: #ddd;
    height: 150px;
    margin-top: 10px;
}

/* GALERÍA */
.galeria {
    flex: 1;
}

.galeria img {
    width: 100%;
    border-radius: 10px;
}

.mini {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.mini img {
    width: 50%;
}

/* NORMAS */
.normas {
    background: #e8f5e9;
    text-align: center;
    padding: 30px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
}

.card {
    flex: 1 1 200px;
    background: #66bb6a;
    padding: 20px;
    border-radius: 20px;
    color: white;
}

/* FOOTER */
footer {
    background: #1b5e20;
    color: white;
    text-align: center;
    padding: 10px;
}